{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"node": true,
		"browser": true,
		"commonjs": true,
		"jquery": true
	},
	"extends": "airbnb/base",
	"rules": {
		"indent": [
			2,
			4
		],
		"no-tabs": 0
	},
	"globals": {
		"importName": "readonly"
	},
	"settings": {
		"import/resolver": {
			"alias": [
				[
					"@",
					"./src"
				],
				[
					"@styles",
					"./src/assets/styles/"
				],
				[
					"@scripts",
					"./src/assets/scripts/"
				],
				[
					"@templates",
					"./src/templates/"
				],
				[
					"@assets",
					"./src/assets/"
				],
				[
					"@blocks",
					"./src/templates/blocks"
				]
			]
		}
	}
}
