include ../_mixins/list

doctype html
html(lang="ru")
	include ../_shared/head
	block head
	body
		main.main
			.page-container
				+header()
				.main-content
					.container
						+ui-kit()
				.g-hide
					+popups()
				footer.footer
					.footer__inner
						.container
							a(target="_blank" href="https://redsoft.ru" class="redsoft")
								.redsoft__inner
									span.redsoft__img
										+icon('logo')
									span.redsoft__caption Разработка сайта #[br] Redsoft
