.form {
	max-width: 500px;
	$f: &;

	.nice-select {
		float: none;
		font-size: 16px;

		&:hover {
			border-color: $clr_main;
		}

		.list {
			right: 0;
			border: 1px solid $clr_main;
		}

		&.open,
		&.focus {
			border-color: $clr_main;
		}
	}

	&__footer {
		margin-top: 10px;
	}

	&__radios {
		&.error {
			#{$f}__field {
				label:before {
					background-color: $clr_error;
					border-color: $clr_error;
				}
			}
		}
	}

	&__field {
		margin-bottom: 20px;
		position: relative;
		padding-bottom: 10px;
		$fd: &;

		&#{$fd}-checkbox {
			margin-bottom: 30px;
		}

		&.error {
			#{$f}__input,
			.nice-select {
				border-color: $clr_error;
			}

			&#{$fd}-checkbox {
				label:before {
					background-color: $clr_error;
					border-color: $clr_error;
				}
			}
		}

		&.success {
			#{$f}__input,
			.nice-select {
				border-color: $clr_highlight;
			}
		}

		label.error {
			color: $clr_error;
			position: absolute;
			bottom: -10px;
			left: 0;
			font-size: 14px;
		}

		select {
			display: block !important;
			position: absolute;
			visibility: hidden;
			pointer-events: none;
			user-select: none;
			z-index: -100;
		}
	}

	&__input {
		position: relative;
	}
}
