mixin main-menu()
	nav.main-menu
		.main-menu__trigger Menu
		ul.main-menu__list
			li.main-menu__item
				a.main-menu__link(href='#b-buttons') Buttons
			li.main-menu__item
				a.main-menu__link(href='#b-forms') Forms
			li.main-menu__item
				a.main-menu__link(href='#b-carousel') Carousel
			li.main-menu__item
				a.main-menu__link(href='#b-typographie') Typograhpie
			li.main-menu__item
				a.main-menu__link(href='#b-checkboxes') Checkboxes
			li.main-menu__item
				a.main-menu__link(href='#b-range-slider') Range Slider
			li.main-menu__item
				a.main-menu__link(href='#hamburger') Hamburger
			li.main-menu__item
				a.main-menu__link(href='#popups') Popups
