- var staticPath = "./assets/";
- var imgPath = `${staticPath}images/`;

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/popups/popups
include ../blocks/ui-kit/ui-kit


include ../blocks/main-menu/main-menu
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/btn/btn
include ../blocks/icon/icon
include ../blocks/carousel/carousel
include ../blocks/form__field/form__field
include ../blocks/hamburger/hamburger


mixin title(...titleParts)
	- var t = "Your Website Name"
	each titlePart in titleParts.reverse()
		- t = titlePart + " / " + t
	title #{t}

mixin statcss(href)
	link(rel="stylesheet" href=href)

mixin statjs(href)
	script(src=href)
