$menu-width: 70px;
$menu-height: #{$menu-width / 1.4};
$line-height: #{$menu-width * 0.1};
$line-color: $clr_main;
$line-color-hover: $clr_yell;
$line-border-radius: 3px;
$line-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

.hamburger {
    position: relative;
    width: $menu-width;
    height: $menu-height;
    cursor: pointer;

    .line {
        position: absolute;
        display: block;
        width: 100%;
        height: $line-height;
        background-color: $line-color;
        border-radius: $line-border-radius;
        box-shadow: $line-shadow;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transform-origin: 50% 50%;
        animation-fill-mode: both;
        animation-duration: 0.7s;

        &:nth-child(2) {
            top: calc(50% - #{$line-height} / 2);
        }

        &:nth-child(3) {
            top: calc(100% - #{$line-height});
        }
    }
}

@keyframes forward-one {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    33% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(0deg);
    }

    100% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(45deg);
    }
}

@keyframes forward-two {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes forward-three {
    0% {
        top: calc(100% - #{$line-height});
        transform: rotate(0deg);
    }

    33% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(0deg);
    }

    100% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(135deg);
    }
}

@keyframes backward-one {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    33% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(0deg);
    }

    100% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(45deg);
    }
}

@keyframes backward-two {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes backward-three {
    0% {
        top: calc(100% - #{$line-height});
        transform: rotate(0deg);
    }

    33% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(0deg);
    }

    100% {
        top: calc(50% - #{$line-height} / 2);
        transform: rotate(135deg);
    }
}
