head
	block title
	include meta_common
	include meta_social_website
	script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')

	+statcss('./assets/css/bundle.vendors.css')
	+statcss('./assets/css/bundle.app.styles.css')

	+statjs('./assets/js/bundle.vendors.js')
	+statjs('./assets/js/bundle.app.js')

	include meta_social_article
