.error-label {
    color: $clr_main;
    position: absolute;
    bottom: -5px;
    left: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    border: 1px solid $clr_border;
    padding: 10px 15px;
    width: 100%;
    transition: border-color 0.2s;
    outline: none;
    border-radius: $br_r;

    &::placeholder {
        color: $clr_dark;
    }

    &:focus {
        border-color: $clr_main;
    }

    &:hover {
        border-color: $clr_main;
    }
}

textarea {
    width: 100%;
    min-height: 65px;
    padding: 10px;
    border: 1px solid $clr_border;
    transition: all 0.2s;
    outline: none;

    &::placeholder {
        color: $clr_dark;
    }

    &:focus {
        border-color: $clr_main;
    }

    &:hover {
        border-color: $clr_main;
    }
}

input[type="checkbox"] {
    & + label {
        &::before,
        &::after {
            border-radius: 0;
        }
    }
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;

    &:checked {
        & + label::after {
            opacity: 1;
        }
    }

    & + label {
        position: relative;
        padding: 0 0 0 35px;
        cursor: pointer;
    }
}
