* {
    box-sizing: border-box;
}

body {
    font-family: $ff_main;
    min-height: 100vh;
    overflow-x: hidden;
    color: $clr_dark;
    font-size: $fsz_main;
    line-height: 1.4;
    transition: all $trans;
    background: transparent;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
