body {
    box-sizing: border-box;
    color: $clr_dark;
    font-size: $fsz_main;
    font-family: $ff_main;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: inherit;
}
