mixin popups()
	+b.popup.zoom-anim-dialog#contact
		+e.header Свяжитесь с нами!
			+e.title Далеко-далеко за словесными горами в стране.
		+e.body
			p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Безорфографичный над составитель моей, ipsum последний правилами, реторический, о залетают своего сих решила необходимыми! Дал толку точках безорфографичный семантика путь?
		+btn('border').js-popup-close Закрыть попап