$btn-primary-color: $clr_main;

@mixin applyBtnDisabledStyles() {
    &:disabled,
    &:hover:disabled {
        border: 1px solid $clr_border;
        background-color: $clr_border;
        color: #000;
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.btn {
    display: inline-block;
    padding: 6px 30px;
    border: 1px solid $clr_border;
    background-color: $clr_border;
    border-radius: $br_r;
    line-height: 1.6;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
    vertical-align: middle;

    @include applyBtnDisabledStyles;
}

.btn_block {
    display: block;
    width: 100%;
}

.btn_primary {
    border-color: $btn-primary-color;
    background-color: $btn-primary-color;
    color: #fff;

    &:hover {
        background-color: darken($btn-primary-color, 10);
    }

    @include applyBtnDisabledStyles;
}

.btn_outline {
    background-color: #fff;

    &:hover {
        background-color: $clr_border;
    }

    @include applyBtnDisabledStyles;
}

.btn_outline.btn_primary {
    color: $btn-primary-color;

    &:hover {
        color: #fff;
        background-color: $btn-primary-color;
    }

    @include applyBtnDisabledStyles;
}
