.btn {
	display: inline-block;
	padding: 6px 30px;
	color: $clr_dark;
	text-align: center;
	line-height: 1.6;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: $br_r;
	border: 1px solid $clr_border;
	transition: all .2s;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 5px;
	vertical-align: middle;

	&-border {
		border: 1px solid $clr_main;
		color: $clr_main;

		&:hover {
			background-color: $clr_main;
			color: $clr_white;
		}
	}

	&-primary {
		&:hover {
			border: 1px solid $clr_disabled_bg;
		}
	}

	&-fill {
		background-color: $clr_main;
		color: $clr_white;
		border-color: $clr_main;

		&:hover {
			background-color: $clr_main_dark;
			border-color: $clr_main_dark;
		}
	}

	&-disabled,
	&:disabled {
		background-color: rgba($clr_disabled_bg, .9);
		color: $clr_white;
		border-color: rgba($clr_disabled_bg, .9);

		&:hover {
			background-color: rgba($clr_disabled_bg, 1);
			border-color: rgba($clr_disabled_bg, 1);
		}
	}
}
