mixin popups()
	.popup.zoom-anim-dialog#contact
		.popup__header Свяжитесь с нами!
			.popup__title Далеко-далеко за словесными горами в стране.
		.popup__body
			p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Безорфографичный над составитель моей, ipsum последний правилами, реторический, о залетают своего сих решила необходимыми! Дал толку точках безорфографичный семантика путь?
		+btn('border').js-popup-close Закрыть попап
