.main-menu {
    background-color: $clr_white;

    &__link {
        color: $clr_main;
        display: block;
        text-decoration: none;
        transition: all 0.2s;
        padding: 11px 15px;
    }

    &__link:hover {
        background-color: $clr_main;
        color: $clr_white;
    }

    &__list {
        visibility: hidden;
        position: absolute;
        top: 64px;
        border: 1px solid $clr_main;
        padding: 0;
        background-color: #fff;
        list-style-type: none;
        opacity: 0;
        transition: all 0.15s ease-out;
    }

    &__trigger {
        display: inline-block;
        border: 2px solid $clr_white;
        padding: 5px 8px;
        background-color: $clr_main;
        color: $clr_white;
        cursor: pointer;
        font-size: 20px;
    }

    &__trigger:hover {
        color: $clr_main;
        background-color: $clr_white;
    }

    &__list:hover,
    &__trigger:hover + &__list {
        visibility: visible;
        opacity: 1;
    }
}
