/*
  Utils
*/
@import './utils/mixins';
@import './utils/variables';
@import './utils/keyframes';

/*
  Common
*/
@import './common/*.scss';

/*
  Layout
*/
@import './layout/normalize';
@import './layout/fonts';
@import './layout/typo';
@import './layout/grid';
@import './layout/global';
@import './layout/general';

/*
  libs
*/
//@import '~swiper/dist/css/swiper.min';
//@import '~magnific-popup/dist/magnific-popup.css';
//@import '~jquery-nice-select/scss/nice-select.scss';
//@import '~overlayscrollbars/css/OverlayScrollbars.min.css';
//@import '~nouislider/distribute/nouislider.min.css';

/*
  PUG blocks
*/
@import '../../templates/blocks/**/*.scss';

/*
  PUG components
*/
@import '../../templates/components/**/*.scss';
